<h1>Zoo Directory</h1>
 
<table class="table table-hover">
 
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>location</th>
    </tr>
  </thead>
 
  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.name %></td>
        <td><%= animal.species %></td>
        <td><%= animal.location %></td>

      </tr>


    <% end %>
  </tbody>
 
</table>

<p>

  <%= link_to 'Home', root_path %>

</p>